@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Outfit;
}

:root {
  --white: hsl(0, 0%, 100%);
  --main-bg: hsl(212, 45%, 89%);
  --text: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--main-bg);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.code {
  width: 350px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  width: 350px;
  color: var(--dark-blue);
  text-align: center;
}
.text {
  font-weight: 400;
  font-size: 20px;
  width: 350px;
  color: var(--text);
  text-align: center;
}
.card {
  padding: 25px;
  padding-bottom: 35px;
  border-radius: 25px;
  background: var(--white);
}

.attribution {
  position: absolute;
  bottom: 10px;
}
